article.exercise
	h3 ANGELUS DOMINI. —REGINA COELI.
	.prayer
		h5 Angelus Domini.
		table.lined
			tbody
				tr
					td
						.versicle
							| Angelus Domini nuntiavit Mariae, et concepit de Spiritu Sancto.
					td
						.versicle
							| The angel of the Lord declared unto Mary, and she conceived of the Holy Ghost.
				tr
					td
						.repetition
							| Ave Maria, etc.
					td
						.repetition
							| Hail Mary, etc.
				tr
					td
						.versicle
							| Ecce ancilla Domini: fiat mini secundum verbum tuum.
					td
						.versicle
							| Behold the handmaid of the Lord: be it done unto me according to thy word.
				tr
					td
						.repetition
							| Ave Maria, etc.
					td
						.repetition
							| Hail Mary, etc.
				tr
					td
						.versicle
							| Et verbum caro factum est, et habitavit in nobis.
					td
						.versicle
							| And the Word was made flesh, and dwelt among us.
				tr
					td
						.repetition
							| Ave Maria, etc.
					td
						.repetition
							| Hail Mary, etc.
		h5.rubric The following may be added.
		table.lined
			tbody
				tr
					td
						.versicle
							| Ora pro nobis, sancta Dei genitrix.
					td
						.versicle
							| Pray for us, holy mother of God.
				tr
					td
						.response
							| Ut digni efficiamur promissionibus Christi.
					td
						.response
							| That we may be made worthy of the promises of Christ.
		
		table.lined
			thead
				tr
					th
						h6
							| Oremus.
					th
						h6
							| Let Us Pray.
			tbody
				tr
					td
						p
							| Gratiam tuam, quaesumus Domine, mentibus nostris infunde : ut qui, angelo nuntiante, Christi Filii tui incarnationem cognovimus, per passionem ejus et crucem ad resurrectionis gloriam perducamur. Per eumdem Christum Dominum nostrum.
					td
						p
							| Pour forth, we beseech thee, O Lord ! thy grace into our hearts, that we unto whom the incarnation of Christ thy Son was made known by the message of an angel, may, by his passion and cross, be brought to the glory of the resurrection. Through the same Christ our Lord.
				tr
					td
						.response
							| Amen.
					td
						.response
							| Amen.
	.prayer
		h5 Regina Coeli.
		table.lined
			tbody
				tr
					td
						span
							| Regina cceli laetare. Alleluia.
					td
						span
							| Queen of heaven, rejoice. Alleluia.
				tr
					td
						span
							| Quia quem meruisti portare. Alleluia.
					td
						span
							| For he whom thou wast made worthy to bear. Alleluia.
				tr
					td
						span
							| Resurrexit sicut dixit. Alleluia.
					td
						span
							| Hath risen as he said. Alleluia.
				tr
					td
						span
							| Ora pro nobis Deum. Alleluia.
					td
						span
							| Pray for us to our God. Alleluia.
				tr
					td
						.versicle
							| Gaude et laetare, virgo Maria. Alleluia.
					td
						.versicle
							| Rejoice and be glad, O Virgin Mary. Alleluia.
				tr
					td
						.versicle
							| Quia surrexit Dominus vere. Alleluia.
					td
						.versicle
							| For the Lord hath risen indeed. Alleluia.
				tr
					td
						h6
							| Oremus
					td
						h6
							| let us pray
				tr
					td
						p
							| Deus, qui per resurrectionem Filii tui Domini nostri Jesu Christi mundum laetificare dignatus es : praesta, quaesumus, ut per ejus genitricem virginem Mariam perpetuae capiamus gaudia vitae. Per eumdem Christum Dominum nostrum. Amen.
					td
						p
							| God, who through the resurrection of thy Son, our Lord Jesus Christ, hast vouchsafed to make glad the whole world, grant us, we beseech thee, that, through the intercession of the Virgin Mary, his mother, we may attain the joys of eternal life. Through the same Christ our Lord. Amen.
		
	p.note
		| The Sovereign Pontiff, Benedict XIII., by a brief, Itijuncta nobis, Sept. 14, 1724, granted: