+exercise('ANGELUS DOMINI. —REGINA COELI.')
	+prayer('Angelus Domini.')
		+translation()
			+entry(
				'Angelus Domini nuntiavit Mariae, et concepit de Spiritu Sancto.',
				'The angel of the Lord declared unto Mary, and she conceived of the Holy Ghost.'
			)(class='versicle')
			+entry('<i>Ave Maria</i>, etc.','Hail Mary, etc.')(class='rubric')
			+entry(
				'Ecce ancilla Domini: fiat mini secundum verbum tuum.',
				'Behold the handmaid of the Lord: be it done unto me according to thy word.'
			)(class='versicle')
			+entry('Ave Maria, etc.','Hail Mary, etc.')(class='rubric')
			+entry(
				'Et verbum caro factum est, et habitavit in nobis.',
				'And the Word was made flesh, and dwelt among us.'
			)(class='versicle')
			+entry('Ave Maria, etc.','Hail Mary, etc.')(class='rubric')
		.rubric The following may be added.
		+translation()
			+entry(
				'Ora pro nobis, sancta Dei genitrix.',
				'Pray for us, holy mother of God.'
			)(class='versicle')
			+entry(
				'Ut digni efficiamur promissionibus Christi.',
				'That we may be made worthy of the promises of Christ.'
			)(class='response')
		+translation('Oremus.', 'Let Us Pray.')
			+entry(
				'Gratiam tuam, quaesumus Domine, mentibus nostris infunde : ut qui, angelo nuntiante, Christi Filii tui incarnationem cognovimus, per passionem ejus et crucem ad resurrectionis gloriam perducamur. Per eumdem Christum Dominum nostrum.',
				'Pour forth, we beseech thee, O Lord ! thy grace into our hearts, that we unto whom the incarnation of Christ thy Son was made known by the message of an angel, may, by his passion and cross, be brought to the glory of the resurrection. Through the same Christ our Lord.'
			)
			+entry('Amen.', 'Amen.')(class='response')
	+prayer('Regina Coeli.')
		+translation()
			+entry(
				'Regina cceli laetare. Alleluia.',
				'Queen of heaven, rejoice. Alleluia.'
			)
			+entry(
				'Quia quem meruisti portare. Alleluia.',
				'For he whom thou wast made worthy to bear. Alleluia.'
			)
			+entry(
				'Resurrexit sicut dixit. Alleluia.',
				'Hath risen as he said. Alleluia.'
			)
			+entry(
				'Ora pro nobis Deum. Alleluia.',
				'Pray for us to our God. Alleluia.'
			)

			+entry(
				'Gaude et laetare, virgo Maria. Alleluia.',
				'Rejoice and be glad, O Virgin Mary. Alleluia.'
			)(class='versicle')
			+entry(
				'Quia surrexit Dominus vere. Alleluia.',
				'For the Lord hath risen indeed. Alleluia.'
			)(class='versicle')
			+entry(
				'Oremus.',
				'Let Us Pray.'
			)
			+entry(
				'Deus, qui per resurrectionem Filii tui Domini nostri Jesu Christi mundum laetificare dignatus es : praesta, quaesumus, ut per ejus genitricem virginem Mariam perpetuae capiamus gaudia vitae. Per eumdem Christum Dominum nostrum. Amen.',
				'Deus, qui per resurrectionem Filii tui Domini nostri Jesu Christi mundum laetificare dignatus es : praesta, quaesumus, ut per ejus genitricem virginem Mariam perpetuae capiamus gaudia vitae. Per eumdem Christum Dominum nostrum. Amen.'
			)(class='praying')

	+note
		| The Sovereign Pontiff, Benedict XIII., by a brief, Itijuncta nobis, Sept. 14, 1724, granted: