article.exercise
	h3 THE CHAPLET OF S. BRIDGET.
	p.note
		| This chaplet, so called because S. Bridget, of Sweden, originated and first propagated it, is recited in honor of Mary most holy and in memory of the sixty-three years which it is said she passed upon this earth. It consists of six divisions, each containing one Our Father, ten Hail Marys and a Creed. After these six divisions another Our Father'is added to complete the number seven, in honor of Mary's joys and sorrows: also, three Hail Marys are finally added to make up the above-named number, sixty-three.
	p.note
		| The Sovereign Pontiff, Leo X., by a bull of July 10, 1515, granted:
	p.note
		| An indulgence of seven years and seven quarantines to all the faithful who, either alone or in company with others, shall recite this chaplet devoutly; also
	p.note
		| An indulgence of one hundred days, for each Our Father, Hail Mary and Creed.