article.exercise
	h3 CHAPLET OF THE SEVEN DOLORS.
	h5 Act of Contrition.
	p
		| O Saviour, my sole and only love ! see me before thy divine presence, all confusion by reason of the many grievous injuries I have done thee. With my whole heart I ask thy pardon for them ; repenting of them out of pure love for thee, and, at the thought of thy great goodness, hating and loathing them above every other evil of this life. Would that I had died a thousand times ere ever I had offended thee ! but now I am most firmly resolved to lose my life a thousand times rather than to offend thee again. My Jesus crucified, I firmly purpose to cleanse my soul forthwith by thy most precious blood, in the sacrament of penance. And thou, most tender Virgin, mother of mercy, and refuge of the sinner, do thou, by thy bitter pains, obtain for me the pardon of my sins. Meanwhile, praying, in accordance with the wishes of so many holy Pontiffs, for the indulgences attached to this chaplet, I hope thereby to obtain remission of all the punishment due to my sins.
	.chaplet
		p.bead
			| With this heartfelt confidence, I meditate on the first dolor, when Mary, virgin mother of my God. presented Jesus, her only-begotten Son, in the temple, laid him in the arms of holy old Simeon, and heard his word of prophecy, "A sword shall pierce thy own soul," which foretold the passion and death of her Son Jesus.
		.rubric
			| #[i Our Father], once, #[i Hail Mary], seven times.
		p.bead
			| The second dolor of the blessed Virgin was when she had to fly into Egypt on account of the persecution of cruel Herod, who impiously sought to slay her well-beloved Son.
		.rubric
			| #[i Our Father], once, #[i Hail Mary], seven times.
		p.bead
			| The third dolor of the blessed Virgin was when, after having gone up to Jerusalem, at the Passover, with Joseph, her spouse, and Jesus, her beloved Son, she missed him while returning to her humble dwelling, and for three days bewailed the loss of her sole-beloved one.
		.rubric
			| #[i Our Father], once, #[i Hail Mary], seven times.
		p.bead
			| The fourth dolor of the blessed Virgin was when she met her most loving Son, Jesus, carrying on his tender shoulders the heavy cross, whereon he was to be crucified for our salvation.
		.rubric
			| #[i Our Father], once, #[i Hail Mary], seven times.
		p.bead
			| The fifth dolor of the blessed Virgin was when she saw her Son, Jesus raised upon the tree of the cross, and all his sacred body pour forth blood ; and then, after three long hours of agony, beheld him die.
		.rubric
			| #[i Our Father], once, #[i Hail Mary], seven times.
		p.bead
			| The sixth dolor of the blessed Virgin was when she saw the lance pierce the sacred side of Jesus, her beloved Son, and then received his holy body taken down from the cross and laid in her stainless bosom.
		.rubric
			| #[i Our Father], once, #[i Hail Mary], seven times.
		p.bead
			| The seventh and last dolor of the blessed Virgin, queen and advocate of us, her servants, miserable sinners, was when she saw the holy body of her Son laid in the sepulchre.
		.rubric
			| #[i Our Father], once, #[i Hail Mary], seven times.
	p.note
		| Then say the Hail Mary three times, in veneration for the tears which Mary shed in her sorrows, to obtain thereby true sorrow for our sins, and the holy indulgences attached to this pious exercise.
	table.lined
		tbody
			tr
				td
					.versicle
						| Ora pro nobis, virgo dolorosissima.
				td
					.versicle
						| Pray for us, Virgin most sorrowful. 
			tr
				td
					.response
						| Ut digni efficiamur promissionibus Christi.
				td
					.response
						| That we may be made worthy of the promises of Christ.
			tr
				td
					h6
						| Oremus
				td
					h6
						| let us pray
			tr
				td
					p
						| . Amen.
				td
					p
						| . Amen.