article.exercise
	h3 ROSARIES BLESSED BY THE CROSIER CANONS.
	p.note
		| By the brief, Regularem vitam, dated Aug. 20, 1516, the Sovereign Pontiff, Leo X., granted to all the faithful who should devoutly recite the Our Father and the Hail Mary upon a rosary of the blessed Virgin Mary, blessed by the Master-General of the Regular Canons of S. Augustine of the Order of the Holy Cross, commonly called Crosier Canons:
	p.note
		| AS INDULGENCE OF FIVE HUNDRED DAYS, each time.
	p.note
		| By rescripts of the S. Congr. of the Propaganda Fide of July 13, 1845, and Jan' 9> 1848, the Sovereign Pontiffs, Gregory XVI. and Pius IX., permitted the Master-General of the Order of the Holy Cross to delegate to other Canons of the same order the faculty of blessing and imparting the above-mentioned indulgence to rosaries of the blessed Virgin. Some doubts having lately arisen concerning this faculty and been proposed to the S. Congr. of Indulgences, the latter, by a decree issued March 14, 1884, and approved by his Holiness, Pope Leo XIII, has definitely recognized it as pertaining to the Crosier Canons only.