doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='https://fonts.googleapis.com/css?family=Libre+Baskerville', rel='stylesheet')
		link(href='public/raccolta.css', rel='stylesheet')
	body.raccolta
		include mixins
		include most_holy_trinity/index
		//- include most_blessed_virgin_mary/index