@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h3, h6 {
  text-transform: uppercase;
  display: block; }

h5 {
  font-style: italic; }

section {
  counter-reset: exercise-counter; }

article {
  counter-reset: prayer-counter; }

.exercise:before {
  content: counter(exercise-counter, decimal) ".";
  display: block;
  text-align: center;
  counter-increment: exercise-counter; }

.exercise, .prayer {
  margin: 20px 0; }

.prayer:before {
  content: counter(prayer-counter, upper-roman) ".";
  display: block;
  text-align: center;
  counter-increment: prayer-counter; }

.litany {
  counter-reset: litany-counter; }

.litany .iteration:before {
  content: counter(litany-counter, upper-roman) ".";
  counter-increment: litany-counter; }

.chaplet {
  counter-reset: chaplet-counter; }
  .chaplet .beads {
    counter-reset: bead-counter; }
    .chaplet .beads .bead:before {
      content: counter(bead-counter, decimal) ". ";
      counter-increment: bead-counter; }
  .chaplet .meditation:before {
    content: counter(chaplet-counter, upper-roman) ". ";
    counter-increment: chaplet-counter; }
  .chaplet .meditation {
    margin: 10px 0; }

.rubric {
  text-align: center;
  display: block;
  color: red; }
  .rubric em {
    text-transform: uppercase; }
  .rubric i {
    font-style: italic; }

.chaplet .bead:before {
  content: counter(chaplet-counter, upper-roman) ".";
  counter-increment: chaplet-counter; }

.note {
  font-size: .75rem;
  color: #555;
  margin: 10px 0; }

table {
  border-collapse: collapse;
  width: 100%; }

.lined td {
  border-left: 1px solid red;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0 1em;
  width: 50%; }

.lined td:first-child {
  border-left-width: 0; }

.versicle::before {
  content: '℣. ';
  color: red; }

.response::before {
  content: '℟. ';
  color: red; }

.repetition {
  text-align: center;
  font-style: italic;
  display: block; }

:root {
  font-size: 12px;
  color: #333;
  font-family: 'Libre Baskerville', serif; }

body {
  line-height: 1.4; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin: 0; }

section {
  max-width: 60ch;
  margin: 0 auto;
  padding: 0 20px; }
