article.exercise
	h3 The Angelic Trisagion.
	table.lined
		tbody
			tr
				td
					| Sanctus, Sanctus,Sanctus, Dominus Deus exercituum Plena est terra gloria tua: Gloria Patri, gloria Filio, gloria Spiritui Sancto.
				td
					| Holy, holy, holy Lord God of hosts the earth is full of thy glory. Glory be to the Father, glory be to the Son, glory be to the Holy Ghost.
	p.note
		| In order that the faithful may be induced to renew often these acts of adoration, praise, and blessing, the Sovereign Pontiff, Clement XIV., by decree, June 6, 1769, granted to the faithful who, with at least contrite heart and devotion, shall say this Angelic Trisagion:
	p.note
		| An indulgence of one hundred days, once day.
	p.note
		| An indulgence of one hundred days, three times every Sunday, as well as on the feast of the most holy Trinity, and during its octave.
	p.note
		| The same Clement XIV., by another decree, June 2G, 1770, granted to the faithful who shall have said this Angelic Trisagion, every day, for month:
	p.note
		| A plenary indulgence, once a month, on any day when, being truly penitent, after confession and communion, they shall pray for some time for the intention of his Holiness.