
+exercise('Devout Exercise')
	+note
		| The Sovereign Pontiff, Pius VI., by decree of the S. Congr. of Indulgences, May 15, 1784, granted to all the faithful who, guided by the spirit of truth and charity, and moved to honor the mystery of the most holy Trinity -- either alone or with others, at three different times: in the morning, afternoon, and evening shall say, with at least contrite heart and devotion, the Glory be to the Father, seven times, and the Hail Mary, once
	+note
		| AN INDULGENCE OF ONE HUNDRED DAYS, once day.
	+note
		| An indulgence of seven years and seven quarantines, on Sundays.
	+note
		| A plenary indulgence, twice month, on any two Sundays, to all those who observe the pious practice of saying these prayers three times day, provided that, being truly penitent, alter confession and communion, they shall pray for some time for the intention of the Sovereign Pontiff.
	+note
		| But, in order to gain these indulgences, three persons must agree to say, either together or by themselves, the above-mentioned prayers, viz. the Glory be to the Father, seven times, and the Hail Mary, once and, should anyone of the three die, or in some other way fail to say these prayers, then the other two must find some one to take his place, so that this pious agreement between three persons may be always maintained.