
+exercise(
	'MASS AND PRAYERS OF THANKSGIVING TO THE MOST HOLY TRINITY FOR THE PRIVILEGES BESTOWED ON THE BLESSED VIRGIN MARY.'
)
	+note
		| The Sovereign Pontiff, Pius VII., by rescript of the S. Cougr. of Indulgences, April 28, 1815, granted to all the faithful who shall be present every day at the mass, and at the prayers said after the mass, which is celebrated daily in the church of our Lady of Loretto, near the Trajan Column, in thanksgiving for the singular gifts and privileges conferred upon the most blessed Virgin Mary PLENARY INDULGENCE, twice month, on auy two days, when, being truly penitent, after confession and communion, they shall pray for some time for the intention of his Holiness.
	+prayer('TO BE SAID BY PRIEST AND PEOPLE AFTER THE MASS ABOVE MENTIONED.')
		+chaplet
			+meditations(
				'Most holy Trinity, Father, Son, and Holy Ghost, three persons and one God, we profoundly adore thee, and with all our heart we thank thee for the high gifts and privileges granted to Mary most holy in her glorious and immaculate Conception.',

				'Most holy Trinity, Father, Son, and Holy Ghost, we profoundly adore thee, and with all our heart we thank thee for the high gifts and privileges granted to Mary most holy in her glorious Nativity.',

				'Most holy Trinity, Father, Son, and Holy Ghost, we profoundly adore thee, and with all our heart we thank thee for the high gifts and privileges granted to Mary most holy in her glorious Presentation in the temple.',

				'Most holy Trinity, Father, Son, and Holy Ghost, we profoundly adore thee, and with all our heart we thank thee for the high gifts and privileges granted to Mary most holy in her glorious Annunciation.',

				'Most holy Trinity, Father, Son, and Holy Ghost, we profoundly adore thee, and with all our heart we thank thee for the high gifts and privileges granted to Mary most holy in her glorious Visitation.',

				'Most holy Trinity, Father, Son, and Holy Ghost, we profoundly adore thee, and with all our heart we thank thee for the high gifts and privileges granted to Mary most holy in her glorious Purification.',

				'Most holy Trinity, Father, Son, and Holy Ghost, we profoundly adore thee, and with all our heart we thank thee for the high gifts and privileges granted to Mary most holy in her most glorious Assumption into heaven.'
			)
				.rubric
					| #[i Glory be to the Father], three times, #[i Hail Mary], once.
			p
				| Lastly, we give thee most heartfelt and lively thanks, because thou hast exalted and glorified the most holy and most sweet name of Mary throughout the whole world.

	+prayer('PRAYER TO THE MOST BLESSED VIRGIN.')
		p
			| Mary, dear mother mother most lovely mother most merciful mother full of love and sweetness for thy devoted children we pray thee, by this loving act of thanksgiving to the most holy Trinity, obtain for us all the grace ever to employ the powers of our soul, the senses of our body, in all our words and works, to the honor and glory of God, one in three persons, that we may ever love him with pure and tender hearts, even as thou didst love him here on earth and thus, with thee, attain to the enjoyment of him in the bliss of heaven for ever and ever. Bless us, mother Mary, in the name of the Father, and of the Son, and of the Holy Ghost.
		.rubric
			| All say the #[i Salve Regina], and then
		+translation
			+entry(
				'Benedicamus Patrem et Filium cum Sancto Spiritu.',
				'Let us bless the Father, and the Son, with the Holy Ghost.'
			)(class='versicle')
			+entry(
				'Laudemus, et super exaltemus eum in saecula.',
				'Let us bless and exalt him for ever and ever.'
			)(class='response')
			+entry(
				'Oremus.',
				'Let us pray.'
			)(class='oremus')
			+entry(
				'Omnipotens sempiterne Deus, qui dedisti famulis tuis in confessione verse fldei aeterna) Trinitatisgloriam agnoscere, et in potentia majestatis adorare unitatem qusesumus, ejusdem fldei flrmitate ab omnibus semper muniamur adversis. Per Christum Dominum nostrum.',
				'Almighty, everlasting God, who hast given thy servants grace in the confession of the true faith to acknowledge the glory of the eternal Trinity, and in the power of thy majesty to adore thy Unity, grant, we beseech thee, that, being grounded in this faith, we may by it be ever defended from all adversities. Through Christ our Lord.'
			)
			+entry(
				'Amen.',
				'Amen.'
			)(class='response')
