
+exercise('Three Offerings.')
	+chaplet
		+meditation
			| We offer to the most holy Trinity the merits of Jesus Christ, in thanksgiving for the precious blood which Jesus shed in the Garden for us and by his merits we beseech the divine majesty to grant us the pardon of all our sins.
		.rubric
			| #[i Our Father], #[i Hail Mary], #[i Glory be to the Father].
		+meditation
			| We offer to the most holy Trinity the merits of Jesus Christ, in thanksgiving for his most precious death endured on the cross for us and by his merits we beseech the divine majesty to free us from the punishment due to our sins.
		.rubric
			| #[i Our Father], #[i Hail Mary], #[i Glory be to the Father].
		+meditation
			| We offer to the most holy Trinity the merits of Jesus Christ, in thanksgiving for his unspeakable charity, by which he descended from heaven to earth to take upon himself our flesh, and to suffer and die for us on the cross and by his merits we beseech the divine majesty to bring our souls to the glory of heaven after our death.
		.rubric
			| #[i Our Father], #[i Hail Mary], #[i Glory be to the Father].
	+note
		| The Sovereign Pontiff, Leo XII., by an autograph rescript, Oct. 21, 1823, granted to all the faithful, every time that, with at least contrite heart and devotion, they shall say these three offerings to the most holy Trinity to obtain good death
	+note
		| An indulgence of ONE HUNDRED DATS.
	+note
		| A plenary INDULGENCE, once month, to those who shall have said them every day for month, to be gained at the end of the month, on any day, when, being truly penitent, and having confessed their sins and received holy communion, they shall pray for the intention of the Sovereign Pontiff.
	+note
		| These same indulgences, plenary and partial, his Holiness, Pius IX., granted anew, by rescript, June 18, 1876.